%h1 User List

%table{class: "table table-striped table-hover table-condensed table-condensed"}
  %tr
    %th Name
    %th E-mail

  - @users=User.all
  - @users.each do |user|
    %tr
      %td= user.name
      %td= user.email
